:root {
    --font-size-base: 16px;
}

.local-info p {
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
    font-size: 1rem;
}

.image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
}

.image-row {
    display: flex;
    justify-content: center;
}

.image-container img {
    margin: 0.313rem;
}

@media (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #local-info {
        width: 90%;
    }
    iframe {
        margin-top: 6.25rem;
        width: 31.25rem;
        height: 15.625rem;
    }
    #local-info p {
        font-size: 0.625rem;
    }
}
